In [8]:
import pandas as pd
import numpy as np

from utils.load_data import load_data
from utils.data_splitter import DataSplitter

df = load_data('data/commodity_prices.csv')
df_groupped = pd.read_csv('data/important_feature_groups.csv')

date_dict = {
    'train_start': "2023-06-01", 'train_end': "2025-06-30",
    'valid_start': "2025-07-01", 'valid_end': "2025-07-31",
    'test_start': "2025-08-01", 'test_end': "2025-08-18"
}

thresholds = {
    'train': 100,
    'valid': 10,
    'test': 5
}

splitter = DataSplitter(df, date_dict, thresholds)
train_df, valid_df, test_df = splitter.run()

In [9]:
df_groupped.head()

,important_features,Product_Type,Market,Mean_Commodity_Effect_Size,Mean_Variety_Type_Effect_Size,Mean_Season_Effect_Size,Mean_Market_Effect_Size,Mean_Year_Effect_Size,Total_Records
0,Commodity,Banana|Nendra Bale|Medium,THURAVOOR VFPCK,0.650715,0.00014,0.000149,0.000000,0.000000,65
1,Commodity,Capsicum|Other|FAQ,Piravam,0.057064,0.00000,0.031460,0.000000,0.008407,502
2,Commodity|Market,Amaranthus|Amaranthus|FAQ,Aluva,0.152055,0.00000,0.012549,0.745668,0.014132,587
3,Commodity|Market,Amaranthus|Amaranthus|FAQ,Angamaly,0.152055,0.00000,0.012549,0.745668,0.014132,570
4,Commodity|Market,Amaranthus|Amaranthus|FAQ,Broadway market,0.152055,0.00000,0.012549,0.745668,0.014132,394

In [3]:
train_df.head()

,Product_Type,Commodity,Variety_Type,Arrival_Date,Market,Is_VFPCK,Season,Year,log_Modal_Price
0,Alsandikai|Alsandikai|FAQ,Alsandikai,Alsandikai|Alsandikai,2023-12-13,North Paravur,False,Winter,2023,8.556606
1,Alsandikai|Alsandikai|FAQ,Alsandikai,Alsandikai|Alsandikai,2023-12-14,North Paravur,False,Winter,2023,8.732466
2,Alsandikai|Alsandikai|FAQ,Alsandikai,Alsandikai|Alsandikai,2023-12-16,North Paravur,False,Winter,2023,8.476580
3,Alsandikai|Alsandikai|FAQ,Alsandikai,Alsandikai|Alsandikai,2023-12-18,North Paravur,False,Winter,2023,8.160804
4,Alsandikai|Alsandikai|FAQ,Alsandikai,Alsandikai|Alsandikai,2023-12-19,North Paravur,False,Winter,2023,8.612685

In [13]:
d = train_df.groupby(['Product_Type', 'Market']).size().reset_index()
d

                  Product_Type           Market    0
0    Alsandikai|Alsandikai|FAQ    North Paravur  435
1    Amaranthus|Amaranthus|FAQ            Aluva  551
2    Amaranthus|Amaranthus|FAQ         Angamaly  533
3    Amaranthus|Amaranthus|FAQ  Broadway market  363
4    Amaranthus|Amaranthus|FAQ        Ernakulam  485
..                         ...              ...  ...
288           Tomato|Other|FAQ          Piravam  445
289          Tomato|Tomato|FAQ            Aluva  500
290          Tomato|Tomato|FAQ        Ernakulam  446
291          Tomato|Tomato|FAQ      Perumbavoor  608
292          Tomato|Tomato|FAQ   Thrippunithura  551

[293 rows x 3 columns]

In [21]:
merged = d.merge(df_groupped, on=['Product_Type', 'Market'], how='left')

In [24]:
merged.head()

,Product_Type,Market,0,important_features,Mean_Commodity_Effect_Size,Mean_Variety_Type_Effect_Size,Mean_Season_Effect_Size,Mean_Market_Effect_Size,Mean_Year_Effect_Size,Total_Records
0,Alsandikai|Alsandikai|FAQ,North Paravur,435,Season,0.000000,0.0,0.386076,0.000000,0.016996,471.0
1,Amaranthus|Amaranthus|FAQ,Aluva,551,Commodity|Market,0.152055,0.0,0.012549,0.745668,0.014132,587.0
2,Amaranthus|Amaranthus|FAQ,Angamaly,533,Commodity|Market,0.152055,0.0,0.012549,0.745668,0.014132,570.0
3,Amaranthus|Amaranthus|FAQ,Broadway market,363,Commodity|Market,0.152055,0.0,0.012549,0.745668,0.014132,394.0
4,Amaranthus|Amaranthus|FAQ,Ernakulam,485,Commodity|Market,0.152055,0.0,0.012549,0.745668,0.014132,518.0

In [23]:
merged.sort_values(by=['0', 'Mean_Season_Effect_Size'])

KeyError: '0'

In [ ]:
d[d[0] == d[0].max()]